{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "package.json",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
