version: "3"
services:
  client:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./public:/node/public:ro
      - ./src/client:/node/src/client:ro
      - ./src/index.js:/node/src/index.js:ro
      - ./src/setupProxy.js:/node/src/setupProxy.js:ro
      - ./src/react-app-env.d.ts:/node/src/react-app-env.d.ts:ro
    command: npm run client

  server:
    build:
      context: .
      dockerfile: dev.Dockerfile
    environment:
      MYSQL_HOST: database
      MYSQL_USER: flink_ecosystem
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: flink_ecosystem
      GITHUB_CLIENT: ${GITHUB_CLIENT}
      GITHUB_SECRET: ${GITHUB_SECRET}
      EMAIL_ADDRESS: ${EMAIL_ADDRESS}
      EMAIL_TO_ADDRESS: ${EMAIL_TO_ADDRESS}
      EMAIL_SERVICE_CLIENT: ${EMAIL_SERVICE_CLIENT}
      EMAIL_PRIVATE_KEY: ${EMAIL_PRIVATE_KEY}
    ports:
      - "4000:4000"
    volumes:
      - ./public:/node/public:ro
      - ./src/server:/node/src/server:ro
    command: npm run nodemon

  database:
    image: mariadb:10
    environment:
      MYSQL_USER: flink_ecosystem
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: flink_ecosystem
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
    volumes:
      - ./src/server/sql/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
      - ./src/server/sql/fixtures.sql.gz:/docker-entrypoint-initdb.d/02-fixtures.sql.gz:ro
      - mariadb-data:/var/lib/mysql:rw
    ports:
      - "3306:3306"
volumes:
  mariadb-data:
