<page-content title="Guide">
  <h2>How to submit a package</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sequi ut
    dignissimos exercitationem voluptatibus rerum dolorum id cupiditate, earum
    numquam nisi doloribus odio soluta obcaecati aliquam sunt officia voluptatem
    pariatur.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sequi ut
    dignissimos exercitationem voluptatibus rerum dolorum id cupiditate, earum
    numquam nisi doloribus odio soluta obcaecati aliquam sunt officia voluptatem
    pariatur.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sequi ut
    dignissimos exercitationem voluptatibus rerum dolorum id cupiditate, earum
    numquam nisi doloribus odio soluta obcaecati aliquam sunt officia voluptatem
    pariatur.
  </p>
</page-content>
